<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Veiculo List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Marca</th>
            <th>Ano</th>
            <th>Vendido</th>
            <th>Descricao</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let veiculo of veiculos | async">
            <td>{{veiculo.marca}}</td>
            <td>{{veiculo.ano}}</td>
            <td>{{veiculo.vendido}}</td>
            <td>{{veiculo.descricao}}</td>
            <td><button (click)="deleteEmployee(veiculo.veiculo)" class="btn btn-danger">Delete</button>
                <!-- <button (click)="employeeDetails(veiculo.id)" class="btn btn-info" style="margin-left: 10px">Details</button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>